<div class="container">
  <div class="header-content">
    <div class="logo"><img src="../../assets/logo2.JPG" alt="logo"></div>
    <div class="search">
      <input class="search-field" type="text" placeholder="Искать товары">
      <i class="fa fa-search"></i>
    </div>
    <div class="icons">
      <a href="" routerLink="/auth"><i class="fa fa-heart-o"></i></a>
      <a href=""><i class="fa fa-user-o"></i></a>
      <a href=""><i class="fa fa-shopping-cart"></i></a>
    </div>
  </div>
</div>
