<div class="container">
  <div class="footer-content">
    <div class="logo footer-content-item">
    </div>
    <div class="search footer-content-item">
      <label class="field-description">Подпишитесь на рассылку и будте в курсе свежих новостей</label>
      <input class="search-field" type="text" placeholder="Ваш Email">
    </div>
    <div class="icons footer-content-item">
      <h2 class="feed-back-title">Оставайтесь с нами на связи!</h2>
      <div class="feed-back-icons">
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-vk"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa- fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-info">
    <p class="footer-info-item">Обработка заказов: ПН-ПТ 10:00 — 19:00 СБ-ВС 11:00 — 15:00 (включая гос.праздники)</p>
    <p class="footer-info-item">Номер и дата регистрации в Торговом реестре</p>
  </div>
</div>
