.auth-page {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/background-auth.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    padding: 16px 8px;
    border-radius: 5px;
    background-color: white;
  }

  .form {
    &-title {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 24px;
      margin-top: 24px;
    }
    &-control {
      max-width: 360px;
      width: 100%;
      margin-bottom: 24px;

      &-input:focus {
        -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
        animation: anim-shadow 0.5s ease-in-out forwards;
        color: red;
      }

      @-webkit-keyframes anim-shadow {
        to{
          box-shadow: 0 0 60px 20px;
          opacity: 0;
        }
      }

      @keyframes anim-shadow {
        to{
          box-shadow: 0 0 60px 20px;
          opacity: 0;
        }
      }

      &.label-checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 34px;

        .checkbox-control {
          max-width: 20px;
          width: 100%;
          min-height: 20px;
          max-height: 20px;
          background: #d1d1d1;
          transition: 0.1s;
          position: relative;
        }

        .input-checkbox:checked ~ .checkbox-control {
          background-color: #006ab2;

          &::after {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "✔";
            font-size: 18px;
            line-height: 20px;
          }
        }

        .control-title {
          margin-left: 8px;
          font-size: 16px;
          line-height: 1.25;
          color: black;
        }

        input {
          display: none;
          &:checked {
          }
        }
      }

      input {
        padding: 11px 10px;
        font-size: 16px;
        line-height: 18px;
        width: 100%;
      }
    }

    &-button {
      font-family: 'Montserrat',sans-serif;
      font-size: 20px;
      font-weight: bold;
      max-width: 280px;
      width: 100%;
      padding: 12px 10px;
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      background-color: red;
      transition: 0.4s;
      &:hover {
        background-color: black;
        transition: 0.4s;
      }
    }

  }

  .auth-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 24px;
  }

  .auth-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .auth-button {
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    gap: 0 16px;
    background-color: white;
    margin-bottom: 24px;

    img {
      max-width: 36px;
    }
  }

  .auth-link {
    font-size: 16px;
    color: black;
    line-height: 20px;
    margin-bottom: 24px;
  }
}
