<div class="auth-page">
  <div class="container">
    <form class="auth-form">
      <h2 class="form-title">Login</h2>
      <label for="email" class="form-control">
        <input class="form-control-input" type="text" id="email" placeholder="Email">
      </label>
      <label for="password" class="form-control">
        <input class="form-control-input" type="password" id="password" placeholder="Password">
      </label>
      <label for="happy" class="form-control label-checkbox">
        <input type="checkbox" class="input-checkbox" id="happy">
        <span class="checkbox checkbox-control"></span>
        <span class="control-title">
          Remember me
        </span>
      </label>
      <button class="form-button" routerLink="/home">Login</button>
    </form>
    <h2 class="title auth-title">Or login with</h2>
    <button (click)="login()" class="auth-button">
      <img src="../../assets/google-1.jpg" alt="google icon">
      Google
    </button>
    <a href="#" class="auth-link">Not a member?</a>
  </div>
</div>
