<div class="auth-page">
  <div class="container">
    <form action="">
      <h1 class="auth-title">Login</h1>
      <div class="wrap-input">
        <input type="email" class="auth-field" placeholder="Email">
        <span class="focus-input"></span>
      </div>
      <div class="wrap-input">
        <input type="password" class="auth-field" placeholder="Password">
        <span class="focus-input"></span>
      </div>
      <div class="contact-form-checkbox">
        <input type="checkbox" class="input-checkbox" id="happy">
        <label for="happy" class="label-checkbox">Remember me</label>
      </div>
      <button class="form-submit-btn" routerLink="/home">Login</button>
      <span>Or login with</span>
      <a href="" class="google-acc-link">
        <img src="../../assets/google-1.jpg" alt="">Google
      </a>
      <a href="" class="registration-link">Not a member?</a>
    </form>
  </div>
</div>
