<ng-container *ngIf="user | async as user; else alternativeTemplate">
  <div class="profile-page">
    <div class="profile">
      <div class="profile-image">
        <img [src]="user.photoURL" alt="Profile Image">
        <label class="profile-upload" for="user-image">
          <input type="file" id="user-image" (change)="onImageUpload($event)">
          <i class="fa fa-plus"></i>
        </label>
      </div>
      <div class="profile-info">
        <h2 class="profile-nickname title">
          {{user.name}}
        </h2>
        <h3 class="profile-email">
          {{user.email}}
        </h3>
        <h3 class="profile-balance">
          balance: {{user.balance}}
        </h3>
      </div>
    </div>
  </div>

</ng-container>

<ng-template #alternativeTemplate>
  loading...
</ng-template>
