.container{
  width: 100%;
  max-width: 1500px;
  height: auto;
  position: relative;
  .slider-dots{
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    display: flex;
    justify-content: space-between;
    .slider-dot{
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      background-color: gray;
      outline: none;
      border: none;
      &:hover{
        background-color: black;
      }
      &.active{
        background-color: black;
      }
    }
  }
}

