<div class="container">
    <div class="brands-list-item"><a href="" class="brands-list-link"><img src="../../../assets/brands/adidas.jpg" alt="" class="brands-image"></a></div>
    <div class="brands-list-item"><a href="" class="brands-list-link"><img src="../../../assets/brands/craft.jpg" alt="" class="brands-image"></a></div>
    <div class="brands-list-item"><a href="" class="brands-list-link"><img src="../../../assets/brands/asics.png" alt="" class="brands-image"></a></div>
    <div class="brands-list-item"><a href="" class="brands-list-link"><img src="../../../assets/brands/polo.jpg" alt="" class="brands-image"></a></div>
    <div class="brands-list-item"><a href="" class="brands-list-link"><img src="../../../assets/brands/under_armour.jpg" alt="" class="brands-image"></a></div>
</div>
