<div class="payment-content">
  <h2>Пополнение счёта</h2>
  <form [formGroup]="cardNumberGroup">
    <label for="cardNumber">
      Номер карты *
      <input
        [formControl]="cardNumberControl"
        id="cardNumber"
        autocomplete="off"
        [textMask]="{mask: cardMaskFunction, guide: false, showMask: true}"
        placeholder="Номер карты">

      <div class="errors">
        <ng-container *ngFor="let error of (cardNumberControl.errors | keyvalue)">
          <div class="error">
            {{
            error.key | errorPipe: {
              type: error.key,
              value: error.value?.[error.key]
            }
            }}
          </div>
        </ng-container>
      </div>
    </label>
    <label for="cvv" class="medium">
      Cvv *
      <input type="number"
             id="cvv"
             name="cvv"
             formControlName="cvv"
             placeholder="Cvv код вашей карты"
      >
      <div class="errors">
        <ng-container *ngFor="let error of (cardNumberGroup.controls['cvv'].errors | keyvalue)">
          <div class="error">
            {{error.key | errorPipe: {type: error.key, value: error.value?.[error.key]}   }}
          </div>
        </ng-container>
      </div>

    </label>
    <label for="date" class="medium">
      Месяц / Год *
      <input type="text"
             id="date" name="date"
             formControlName="date"
             placeholder="Месяц/год  вашей карты"
             autocomplete="off"
             [textMask]="{mask: dateMask,  guide: false, showMask: true}">

      <div class="errors">
        <ng-container *ngFor="let error of (cardNumberGroup.controls['date'].errors | keyvalue)">
          <div class="error">
            {{
            error.key | errorPipe: {
              type: error.key, value: error.value?.[error.key]
            }
            }}
          </div>
        </ng-container>
      </div>

    </label>
    <label for="value">
      Сумма пополнения *
      <input type="number" id="value" name="value" formControlName="value" placeholder="Сумма пополнения">
      <div class="errors">
        <ng-container *ngFor="let error of cardNumberGroup.controls['value'].errors | keyvalue">
          <div class="error">
            {{
            error.key | errorPipe: {
              type: error.key, value: error.value?.[error.key]
            }
            }}
          </div>
        </ng-container>
      </div>

    </label>
    <button (click)="submitForm()">Пополнить счёт</button>
  </form>
</div>
